/*橫幅*/
.banner{
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: $primary-200;
	.btn{
		color: $neutral-white;
		background-color: $neutral-900;
		&:hover{
			color:$neutral-900;
			background-color: $neutral-100;
		}
	}
}
@media(max-width:768px){
	.banner{
		padding-top: 32px;
		padding-bottom: 32px;
	}
}